<mat-card class="card game-card">
  <mat-card-header>
    <mat-card-title class="game-topic">{{(game$ | async)?.topic}}</mat-card-title>
    <mat-card-subtitle>Started at {{(game$ | async)?.createdAt | date}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h2>Committed Entries:</h2>
    <mat-list>
      <mat-list-item *ngFor="let entry of committedEntries$ | async" class="committed-entry">
        <mat-icon class="entry-icon">check_circle</mat-icon>
        {{entry.text}}
      </mat-list-item>
    </mat-list>
    <h2>Uncommitted Entries:</h2>
    <mat-list>
      <mat-list-item *ngFor="let entry of uncommittedEntries$ | async" class="uncommitted-entry">
        {{entry.text}}
        <button mat-button (click)="openVoteModal(entry)" class="vote-button">
          <mat-icon>thumb_up</mat-icon>
          Vote
        </button>
        <span class="vote-count">Votes: {{getVoteCount(entry.id) | async}}</span>
        <span class="vote-count">Score: {{getScore(entry.id) | async}}</span>
      </mat-list-item>
    </mat-list>
    <h2>Add a New Entry:</h2>
    <div class="new-entry-form">
      <mat-form-field appearance="outline" class="new-entry-input">
        <mat-label>Enter your new entry</mat-label>
        <input matInput [(ngModel)]="newEntryText" >
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="addNewEntry()" [disabled]="!newEntryText" class="add-button">Add</button>
    </div>
  </mat-card-content>
</mat-card>
