<div class="whiteboards-panel m-3">
  <button mat-raised-button (click)="openCreateForm()" class="create-button">
    <mat-icon>add</mat-icon>
    Create Whiteboard
  </button>
  <mat-card
    *ngFor="let whiteboard of (whiteboards$ | async) "
    (click)="navigateToWhiteboard(whiteboard.id)"
    class="whiteboard-card"
  >
    <mat-card-header>
      <mat-card-title>{{ whiteboard.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content-center">
      <div class="preview-placeholder"></div>
    </mat-card-content>
  </mat-card>
</div>
