<mat-dialog-content>
  <mat-card-header>
    <mat-card-title class="mb-3">Vote Entry</mat-card-title>
  </mat-card-header>
  <form [formGroup]="voteForm">
    <mat-form-field class="w-100">
      <textarea matInput formControlName="comment" placeholder="Add comment..."></textarea>
    </mat-form-field>
    <div class="scores-buttons mb-3">
      <button
        type="button"
        class="btn revoke-button me-2 btn-danger"
        (click)="selectScore('Revoke')">
        Revoke
      </button>
      <button
        *ngFor="let score of scores"
        [class]="getButtonClass(score)"
        type="button"
        class="btn score-button rounded-circle me-2"
        (click)="selectScore(score)">
        {{score}}
      </button>
    </div>
  </form>
</mat-dialog-content>
