<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Members
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-list-item *ngFor="let room of rooms"
                 (click)="openRoom(room.id)"
                 [ngClass]="{'selected': selectedRoomId === room.id}">
    <div class="grid-container">
      <span class="mat-line">{{room.name}}</span>
      <a mat-icon-button aria-label="Start chat with member">
        <mat-icon>chat</mat-icon>
      </a>
    </div>
  </mat-list-item>
</mat-expansion-panel>
