.chat-box {
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.bg-primary {
  background-color: #0d6efd !important;
}

.message-input-full-width {
  width: 100%;
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


