<div class="container">
  <mat-card class="mt-5">
    <mat-card-header>
      <mat-card-title>Room {{ roomId }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="chat-box">
        <div *ngFor="let message of messages" class="mb-3">
          <div class="d-flex justify-content-start" *ngIf="message.senderId !== userId">
            <div class="bg-light rounded py-2 px-3 mb-2">
              <p class="text-small mb-0 text-muted">{{ message.text }}</p>
            </div>
            <p class="small text-muted">{{ message.creationDate | date:'shortTime' }}</p>
          </div>
          <div class="d-flex justify-content-end" *ngIf="message.senderId === userId">
            <div class="bg-primary rounded py-2 px-3 mb-2">
              <p class="text-small mb-0 text-white">{{ message.text }}</p>
            </div>
            <p class="small text-muted">{{ message.creationDate | date:'shortTime' }}</p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
