<mat-toolbar color="primary">
  <span>Join Requests</span>
</mat-toolbar>
<mat-list>
  <mat-list-item *ngFor="let request of joinRequests$ | async">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>User: {{request.userId}}, Group: {{request.groupId}}</mat-card-title>
        <mat-card-subtitle>Status: {{GroupJoinRequestStatus[request.status]}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{request.message}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button *ngIf="request.status === GroupJoinRequestStatus.Pending" mat-button color="primary" (click)="approve(request)">Approve</button>
        <button *ngIf="request.status === GroupJoinRequestStatus.Pending" mat-button color="warn" (click)="reject(request)">Reject</button>
      </mat-card-actions>
    </mat-card>
  </mat-list-item>
</mat-list>
