<div class="container">
  <h1 class="text-center mb-4 mt-4">Group Search</h1>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Search"
      [(ngModel)]="searchQuery"
      (input)="search()"
      [disabled]="loading$ | async"
    />
    <select class="form-select" [(ngModel)]="groupSearchMode" (change)="search()" [disabled]="loading$ | async">
      <option *ngFor="let mode of GroupSearchMode | keyvalue" [value]="mode.key">{{ mode.value }}</option>
    </select>
    <button class="btn btn-primary" type="button" (click)="navigateToCreateGroup()" [disabled]="loading$ | async">
      Create group
    </button>
  </div>

  <ul class="list-group">
    <li
      *ngFor="let group of groups$ | async; let i = index"
      class="list-group-item"
      data-bs-toggle="collapse" [attr.href]="'#collapseDescription' + i" role="button" aria-expanded="false"
    >
      <div class="d-flex justify-content-between align-items-center">
        <div>
          {{ group.name }}
        </div>
        <button
          type="button"
          class="btn btn-primary"
          (click)="$event.stopPropagation(); navigateToGroup(group.id)"
        >
          {{ groupSearchMode === GroupSearchMode.ExplorePublic ? 'Join' : 'Enter' }}
        </button>
      </div>
      <div class="collapse mt-2 w-100" [id]="'collapseDescription' + i">
        <p class="text-muted">{{ group.description }}</p>
      </div>
    </li>
  </ul>
</div>
