<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="side" opened>
    <mat-nav-list>
      <mat-expansion-panel>
        <!-- Members -->
        <mat-expansion-panel-header>
          <mat-panel-title>
            Members
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list-item *ngFor="let member of members">
          {{member}}
        </mat-list-item>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <!-- Features -->
        <mat-expansion-panel-header>
          <mat-panel-title>
            Features
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list-item *ngFor="let feature of features">
          {{feature}}
        </mat-list-item>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-icon-button class="toggle-button" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div>
      <h1>Hello world</h1>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
